@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-lightBlue: #ecf3f8;
    --color-darkBlue: #090cb6;
    --color-primaryBlue: #0040b6;
    --color-accentBlue: #0082d8;
}

.me {
    background-color: orange;
}

body {
    background-color: var(--color-lightBlue);
    color: var(--color-primaryBlue);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-darkBlue);
}

*::selection {
    background-color: var(--color-primaryBlue);
    color: var(--color-lightBlue);
}
